.rankingContainer {
  display: flex;
  justify-content: center;
  margin: 50px auto;
}

.rankingTables {
  display: flex;
  gap: 50px; 
  justify-content: center;
  width: 100%;
}

.rankingTable {
  flex: 1;
  max-width: 600px; 
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.rankingTable h2 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.stage_name {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: bold;
}

.rankingHeader {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #fafbfe;
  font-weight: bold;
  padding: 15px;
  border-bottom: 2px solid #b2bec3;
}

.rankingRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.teamInfo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  gap: 10px;
}

.teamLogo {
  width: 30px;
  height: 30px;
}

.teamName {
  font-size: 14px;
  font-weight: 600;
}

.win_rate {
  font-size: 14px;
  font-weight: bold;
  color: #27ae60;
}
